/**  NORMALIZE  **/
@import url(./vendor/normalize.css);

/**  BASE  **/
@import url(./base/root.css);
@import url(./base/layout.css);
@import url(./base/elements.css);

/**  VIEWS  **/
@import url(./views/view.css);
@import url(./views/sonometer.css);
@import url(./views/tempo.css);
@import url(./views/settings.css);

/**  WIDGETS  **/
@import url(./widgets/gauge.css);
@import url(./widgets/metronome.css);
@import url(./widgets/bpm-manager.css);
@import url(./widgets/modal.css);

/**  COMPONENTS  **/
@import url(./components/nav-tab.css);
@import url(./components/btn.css);
@import url(./components/play-btn.css);
@import url(./components/switch.css);
@import url(./components/slider.css);
@import url(./components/tile.css);
@import url(./components/tappable.css);
@import url(./components/loader.css);
@import url(./components/calibration.css);
@import url(./components/scrollbar.css);
@import url(./components/snackbar.css);

/**  VENDOR  **/
@import url(./vendor/g-icons.css);

/**  MEDIA QUERIES  **/
@import url(./base/media-queries.css);







// REMOVE Example code for spectrum.

.container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}
.bar {
    width: calc(100% / var(--bands) - 5px);
    background: var(--cyan);
    transition: height 0.1s ease-out;
}
.labels {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 90%;
}
.scale {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    left: -40px;
    height: 100%;
    padding-right: 10px;
}
.grid-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--invert);
    opacity: .1;
}
.grid-line.fine {
    height: 1px;
    background: var(--invert);
    opacity: .1;
}
