/**  NORMALIZE  **/
@import url(./vendor/normalize.css);

/**  BASE  **/
@import url(./base/root.css);
@import url(./base/layout.css);
@import url(./base/elements.css);

/**  VIEWS  **/
@import url(./views/view.css);
@import url(./views/sonometer.css);
@import url(./views/tempo.css);
@import url(./views/toolbox.css);
@import url(./views/settings.css);

/**  WIDGETS  **/
@import url(./widgets/gauge.css);
@import url(./widgets/metronome.css);
@import url(./widgets/bpm-manager.css);
@import url(./widgets/modal.css);

/**  COMPONENTS  **/
@import url(./components/nav-tab.css);
@import url(./components/btn.css);
@import url(./components/play-btn.css);
@import url(./components/switch.css);
@import url(./components/slider.css);
@import url(./components/tile.css);
@import url(./components/tappable.css);
@import url(./components/loader.css);
@import url(./components/calibration-badge.css);
@import url(./components/scrollbar.css);
@import url(./components/toast.css);

/**  VENDOR  **/
@import url(./vendor/g-icons.css);

/**  MEDIA QUERIES  **/
@import url(./base/media-queries.css);
