.bpm-manager {
    --transition-duration: 120ms;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    margin-bottom: 2px;

    .bpm-add-btn {
        --add-btn-border-size: 5px;
        container-type: size;
        display: grid;
        place-items: center;
        margin-right: calc(-1 * var(--add-btn-border-size));
        width: 58px;
        aspect-ratio: 1;
        color: var(--cyan);
        background-color: var(--bg-contrast);
        border-radius: 50%;
        border: var(--add-btn-border-size) solid var(--bg);
        box-sizing: content-box;
        z-index: 1;

        .bpm-count-badge {
            position: absolute;
            top: -8px;
            right: 52%;
            padding: 0 6px;
            translate: 3px 0;
            color: light-dark(var(--bg), var(--invert));
            background-color: light-dark(var(--grey), var(--grey-pale));
            border-radius: 100vw;
            font-size: .65rem;
            font-weight: 500;
            letter-spacing: 0;
            opacity: 0;
            pointer-events: none;
            transition-property: all;
            transition-duration: 100ms;

            &.show {
                translate: none;
                opacity: .9;
                transition-duration: 60ms;
            }
        }

        g-icon {
            font-size: 64cqh;
        }

        &.disabled {
            color: var(--grey);
            background-color: light-dark(
                                hsl(from var(--bg-contrast) h s calc(l - 1.6)),
                                hsl(from var(--bg-contrast) h s calc(l + 1.6))
                              );

            .bpm-count-badge, g-icon {
                opacity: .5;
            }
        }
    }

    .bpm-next-btn, .bpm-remove-btn {
        height: 44px;
        overflow: hidden;

        .bpm-saves-list .bpm-save:is(.previous, .current, .next, .add, .remove),
        &.bpm-remove-btn {
            transition: all var(--transition-duration) ease-out;
        }
    }

    .bpm-next-btn {
        position: relative;
        margin-right: -8px;
        padding-right: 6px;
        width: 68px;
        background-color: var(--bg-contrast);
        border-radius: 5px 4px 4px 5px;
        z-index: 0;

        .bpm-saves-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;

            .bpm-save {
                position: absolute;

                /* Previous and after next */
                &:not(:is(.current, .next, .add, .remove)) {
                    translate: 0 24px;
                    color: var(--grey-pale);
                    font-size: .5rem;
                    font-weight: 600;
                    opacity: 0;
                }

                &.previous {
                    translate: 0 -24px;
                }

                &:is(.current, .add, .remove) {
                    translate: 0 -6px;
                    color: var(--invert);
                    font-size: 1.1rem;
                    font-weight: 500;

                    &:only-child, &.only-child {
                        translate: none;
                    }
                }

                &.current {
                    color: var(--grey);

                    &.blink {
                        color: var(--cyan);
                        transition: none;
                    }
                }

                &.add {
                    margin-left: 40px;
                    opacity: 0;
                }

                &.remove {
                    margin-right: 40px;
                    opacity: 0;
                }

                &.next {
                    translate: 0 10px;
                    color: var(--grey-pale);
                    font-size: .7rem;
                    font-weight: 600;
                }
            }
        }

        &[data-ripple] .ripple {
            margin-left: -3px;
        }
    }

    .bpm-remove-btn {
        container-type: size;
        display: grid;
        place-items: center;
        margin-right: 3px;
        padding-left: 2px;
        aspect-ratio: 1.02/1;
        color: var(--grey);
        background-color: var(--bg-contrast);
        border-radius: 50% 5px 5px 50%;

        g-icon {
            font-size: calc(54cqh * var(--app-font-size-multiplier));
        }

        &[data-ripple] {
            --ripple-background: var(--red);
            --ripple-opacity: .18;

            .ripple {
                margin-left: 1px;
            }
        }
    }

    &.active {
        .bpm-saves-list .bpm-save.current {
            color: var(--invert);
        }
        .bpm-remove-btn {
            color: var(--red);
        }
    }

    &.no-interaction {
        pointer-events: none;
    }

    &.disabled {

        .bpm-next-btn, .bpm-remove-btn {
            opacity: .6;
            pointer-events: none;

            &[data-ripple] {
                --ripple-background: white;
                --ripple-opacity: .1;
            }
        }

        .bpm-saves-list .bpm-save.current, .bpm-remove-btn {
            color: var(--grey-pale);
        }
    }
}
