.bpm-manager {
    --transition-duration: 120ms;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    margin-bottom: 4px;

    .bpm-add-btn {
        container-type: size;
        display: grid;
        place-items: center;
        margin-left: 9px;
        width: 58px;
        aspect-ratio: 1;
        color: var(--cyan);
        background-color: var(--bg-contrast);
        border-radius: 50%;

        .bpm-count-badge {
            position: absolute;
            top: -7px;
            right: 60%;
            padding: .5px 6px .2px 6px;
            font-size: .65rem;
            font-weight: 500;
            color: var(--invert);
            background-color: var(--grey-pale);
            border-radius: 100vw;
            transform: translateX(3px);
            opacity: 0;
            transition-property: all;
            transition-duration: 100ms;
            pointer-events: none;

            &.show {
                transform: none;
                opacity: 0.8;
                transition-duration: 60ms;
            }
        }

        g-icon {
            font-size: 64cqh;
        }

        &.disabled {
            color: var(--grey);
            opacity: .5;
        }
    }

    .bpm-next-btn, .bpm-remove-btn {
        --btns-border-radius: 100vw;
        height: 42px;
        overflow: hidden;

        .bpm-save:is(.previous, .current, .next, .add, .remove), &.bpm-remove-btn {
            transition: all var(--transition-duration) ease-out;
        }
    }

    .bpm-next-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-right: 3px;
        width: 65px;
        background-color: var(--bg-contrast);
        border-top-right-radius: var(--btns-border-radius);
        border-bottom-right-radius: var(--btns-border-radius);

        .bpm-save {
            position: absolute;

            /* Previous and after next. */
            &:not(:is(.current, .next, .add, .remove)) {
                color: var(--grey-pale);
                font-size: .5rem;
                font-weight: 600;
                transform: translateY(24px);
                opacity: 0;
            }

            &.previous {
                transform: translateY(-24px);
            }

            &:is(.current, .add, .remove) {
                color: var(--invert);
                font-size: 1.05rem;
                font-weight: 500;
                transform: translateY(-6px);

                &:only-child, &.only-child {
                    transform: none;
                }
            }

            &.current {
                color: var(--grey);

                &.blink {
                    color: var(--cyan);
                    transition: none;
                }
            }

            &.add {
                margin-left: 40px;
                opacity: 0;
            }

            &.remove {
                margin-right: 40px;
                opacity: 0;
            }

            &.next {
                color: var(--grey-pale);
                font-size: .7rem;
                font-weight: 600;
                transform: translateY(10px);
            }
        }

        &[data-tappable]::before {
            left: -1px;
        }
    }

    .bpm-remove-btn {
        container-type: size;
        display: grid;
        place-items: center;
        margin-right: 3px;
        padding-left: 3px;
        aspect-ratio: 1.05/1;
        color: var(--grey);
        background-color: var(--bg-contrast);
        border-top-left-radius: var(--btns-border-radius);
        border-bottom-left-radius: var(--btns-border-radius);

        g-icon {
            font-size: 56cqh;
        }

        &[data-tappable] {
            --circle-opacity: .2;
            --circle-background: var(--red);

            &::before {
                left: 2px;
            }
        }
    }

    &.active {
        .bpm-save.current {
            color: var(--invert);
        }
        .bpm-remove-btn {
            color: var(--red);
        }
    }

    &.no-interaction {
        pointer-events: none;
    }

    &.disabled {

        .bpm-next-btn, .bpm-remove-btn {
            opacity: .6;
            pointer-events: none;

            &[data-tappable] {
                --circle-opacity: .1;
                --circle-background: white;
            }
        }

        .bpm-save.current, .bpm-remove-btn {
            color: var(--grey-pale);
        }
    }

    &.hide {
        display: none;
    }
}
