.metronome {
    --metronome-transition-duration: 667ms; /* Overridden in JS. */
    --metronome-thumb-size: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--metronome-thumb-size);

    .metronome-line {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 calc(var(--metronome-thumb-size) / 2);
        width: 100%;
        height: 2px;
        background-color: var(--grey-pale);
        border-radius: 1.5px;
        border-top: 1px solid light-dark(white, black);
        box-sizing: content-box;

        .metronome-thumb {
            position: absolute;
            margin-left: 0;
            width: var(--metronome-thumb-size);
            aspect-ratio: 1;
            translate: -50% 0;
            background-color: var(--cyan);
            border-radius: 50%;
            transition: margin-left var(--metronome-transition-duration) linear;
        }
    }

    &.left {
        .metronome-thumb {
            margin-left: 0;
        }
    }
    &.right {
        .metronome-thumb {
            margin-left: 100%;
        }
    }

    &.jump, &.instant {
        .metronome-thumb {
            transition: none !important;
        }
    }
    &.fix {
        .metronome-thumb {
            margin-left: 0 !important;
            background-color: var(--invert);
        }
    }

    &.disabled {
        .metronome-thumb {
            margin-left: 0 !important;
            background-color: light-dark(var(--grey-pale), var(--grey));
        }
    }
}
