.metronome {
    --metronome-circle-size: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--metronome-circle-size);

    .metronome-line {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 calc(var(--metronome-circle-size) / 2);
        width: 100%;
        height: 2px;
        background-color: var(--grey-pale);
        border-radius: 1.5px;
        border-top: 1px solid light-dark(white, black);
        box-sizing: content-box;

        .metronome-circle {
            position: absolute;
            margin-left: 0;
            width: var(--metronome-circle-size);
            aspect-ratio: 1;
            transform: translateX(-50%);
            background-color: var(--cyan);
            border-radius: 50%;
            transition: margin-left 667ms linear; /* Overridden in JS. */
        }
    }

    &.left {
        .metronome-circle {
            margin-left: 0;
        }
    }
    &.right {
        .metronome-circle {
            margin-left: 100%;
        }
    }
    &.instant {
        .metronome-circle {
            transition: none !important;
        }
    }
    &.fixed {
        .metronome-circle {
            margin-left: 0 !important;
            background-color: var(--invert);
        }
    }
    &.disabled {
        .metronome-circle {
            margin-left: 0 !important;
            background-color: light-dark(var(--grey-pale), var(--grey));
        }
    }
}
