#overlay {
    display: grid;
    place-items: center;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000B;
    opacity: 0;
    transition: top 0ms linear 100ms, opacity 100ms linear;

    .modal {
        padding: 25px 25px 12px;
        width: 85%;
        translate: 0 -10px;
        background-color: light-dark(var(--bg), var(--bg-contrast));
        border: 1px solid light-dark(transparent, #DDD1);
        border-radius: 8px;
        overflow: auto;
        transition: translate 100ms linear;

        .modal-title {
            margin-bottom: 20px;
            font-size: 1.05rem;

            &.hide {
                display: none;
            }
        }

        .modal-text {
            margin-top: 5px;
            color: var(--grey);
            font-size: .85rem;
        }

        /* FIXME Buttons may be hidden under the scroll if the content is too long. */
        .modal-btns {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: 30px;
            margin-right: calc(-1 * var(--btn-padding-left-right));

            .modal-btn-secondary {
                &.hide {
                    display: none !important;
                }
            }
        }

        /* Setting List */

        .list-item {
            display: flex;
            align-items: center;
            padding: 16px 0;
            color: var(--grey);
            font-size: .95rem;

            &:first-child {
                margin-top: -5px;
            }

            &:last-child {
                padding-bottom: 8px;
            }

            .radio-btn {
                content: "";
                display: inline-grid;
                place-items: center;
                margin-right: 12px;
                height: 1.2em;
                aspect-ratio: 1;
                border: 2px solid currentColor;
                border-radius: 50%;

                /* Radio button Bullet */
                &::before {
                    --radio-btn-bullet-size: 58%;
                    content: "";
                    display: block;
                    height: 100%;
                    aspect-ratio: 1;
                    background-color: currentColor;
                    border-radius: 50%;
                    scale: 0;
                    transition: scale 100ms linear;
                }
            }

            &[data-selected] {
                color: var(--cyan);

                .radio-btn::before {
                    scale: var(--radio-btn-bullet-size);
                }
            }
        }
    }

    &[data-context=view] {
        z-index: 10;

        .modal {
            margin-top: calc(-1 * (var(--footer-height) - var(--header-height)));
            max-height: calc(var(--view-height) - 80px);
        }
    }

    &[data-context=app] {
        z-index: 30;

        .modal {
            max-height: calc(100% - 150px);
        }
    }

    &.active {
        top: 0;
        opacity: 1;
        transition: top 0ms linear, opacity 150ms linear 100ms;

        .modal {
            translate: none;
            transition: translate 100ms linear 150ms;
        }
    }

    :is(&.instant, &.instant.active), :is(&.instant, &.instant.active) .modal {
        transition: none !important;
    }
}

/**  THEME  **/

:root[data-high-contrast] {
    #overlay .modal {
        border-color: light-dark(transparent, #DDD3);
    }
}
