#settings {
    --setting-padding-sides: calc(var(--padding-sides) + var(--inner-padding-sides));
    display: block;
    padding-left: 0;
    padding-right: 0;

    h2 {
        padding: 24px var(--setting-padding-sides) 8px;
        color: var(--cyan);
        font-size: .75rem;
        font-weight: 500;
        text-transform: uppercase;

        g-icon {
            margin-right: 4px;
            font-size: .9rem;
            transform: translateY(1px);
        }
    }

    .setting {
        display: grid;
        grid-template-rows: minmax(0, 1fr);
        grid-template-areas:
            "text choice"
            "slider slider";
        grid-column-gap: 20px;
        position: relative;
        padding: 11px 0 12px;
        min-height: 68px;
        overflow: hidden;

        .setting-text {
            grid-area: text;
            align-self: center;
            padding-left: var(--setting-padding-sides);

            .setting-title {
                font-size: .85rem;

                .reset-btn {
                    display: inline-block;
                    padding: 2px 2px 0;
                    color: var(--yellow);
                    font-size: .98em;
                    font-weight: bold;
                    line-height: 0;
                    transform: translateY(2px);

                    &.hide {
                        display: none;
                    }
                }

                &.danger {
                    color: var(--red);
                }
            }

            .setting-info {
                margin-top: 3px;
                color: var(--grey);
                font-size: .7rem;
                line-height: 1.2em;
                letter-spacing: -0.04px;
            }
        }

        .setting-choice {
            grid-area: choice;
            display: flex;
            justify-self: right;
            align-items: center;
            padding-top: 2px;
            padding-right: var(--setting-padding-sides);
            white-space: nowrap;

            .select-list, .slider-value {
                color: var(--grey);
                font-size: .8rem;
                font-weight: 500;
                text-align: right;
                letter-spacing: -0.2px;
                transition: color 80ms linear;
            }

            .select-list {
                display: grid;

                .select-item {
                    grid-area: 1 / 1;
                    visibility: hidden;

                    &[data-selected] {
                        visibility: visible;
                    }

                    .radio-btn {
                        display: none;
                    }
                }
            }

            .slider-value {
                --slider-value-width: auto; /* Overridden in JS. */
                width: var(--slider-value-width);

                &.active {
                    color: var(--invert);
                }
            }

            & > g-icon {
                margin-left: 2px;
                margin-right: -7px;
                font-size: 1.5rem;
            }
        }

        &[data-new-window] {
            .setting-choice > g-icon {
                margin-right: -3px;
                font-size: 1.08rem;
            }
        }

        .slider {
            grid-area: slider;
            margin-top: 5px;
            margin-bottom: -5px;
            padding-left: var(--setting-padding-sides);
            padding-right: var(--setting-padding-sides);
        }

        /* Blink effect */
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            color: transparent;
            background-color: currentColor;
            opacity: .2;
            z-index: -10;
        }

        &.blink::after {
            animation: setting-blink 1200ms linear;
        }

        &.disabled {
            color: var(--grey);

            .setting-title .reset-btn,
            .setting-info,
            .setting-choice :is(.select-list, .slider-value, g-icon),
            .switch,
            .slider {
                color: var(--grey-pale);
                transition: none;
            }
        }
    }

    .app-credits {
        margin: 24px 0 20px;
        color: var(--grey-pale);
        font-size: .7rem;
        text-align: center;
    }
}

/**  THEME  **/

:root[data-color-scheme=dark] {
    .setting[data-tappable] {
        --circle-opacity: 0.015 !important;
    }
}

:root[data-color-scheme=light] {
    .setting[data-tappable] {
        --circle-opacity: 0.03 !important;
    }
}

/**  ANIMATIONS  **/

@keyframes setting-blink {
    from, 20% {
        background-color: var(--yellow);
    }
    to {
        background-color: currentColor;
    }
}
