#settings {
    --setting-padding-inline: calc(var(--app-padding-inline) + var(--view-padding-inline));
    display: block;
    padding-left: 0;
    padding-right: 0;

    h2 {
        margin-left: var(--setting-padding-inline);
        margin-bottom: 8px;
    }

    .setting {
        display: grid;
        grid-template-rows: minmax(0, 1fr);
        grid-template-areas:
            "text choice"
            "slider slider";
        grid-column-gap: 20px;
        position: relative;
        padding: 11px 0 12px;
        min-height: 68px;
        overflow: hidden;

        .setting-text {
            grid-area: text;
            align-self: center;
            padding-left: var(--setting-padding-inline);

            .setting-title {
                font-size: .85rem;
                font-weight: normal;

                .reset-btn {
                    display: inline-block;
                    padding: 2px 2px 0;
                    translate: 0 2px;
                    color: var(--yellow);
                    font-size: .98em;
                    font-weight: bold;
                    line-height: 0;
                }
            }

            .setting-info {
                display: block;
                margin-top: 3px;
                color: var(--grey);
                font-size: .7rem;
                line-height: 1.2em;
                letter-spacing: -0.04px;
            }
        }

        .setting-choice {
            grid-area: choice;
            display: flex;
            justify-self: right;
            align-items: center;
            padding-top: 2px;
            padding-right: var(--setting-padding-inline);
            white-space: nowrap;

            .list-items, .slider-value {
                color: var(--grey);
                font-size: .8rem;
                font-weight: 500;
                text-align: right;
                letter-spacing: -0.2px;
                transition: color 80ms linear;
            }

            .list-items {
                display: grid;

                .list-item {
                    grid-area: 1 / 1;
                    visibility: hidden;

                    &[data-selected] {
                        visibility: visible;
                    }

                    .radio-btn {
                        display: none;
                    }
                }
            }

            .slider-value {
                --slider-value-width: auto; /* Overridden in JS. */
                width: var(--slider-value-width);

                &.highlight {
                    color: var(--invert);
                }
            }

            & > g-icon {
                margin-left: 2px;
                margin-right: -7px;
                font-size: 1.5rem;
            }
        }

        &[data-danger]:not(.disabled) {
            .setting-title {
                color: var(--red);
            }
        }

        &[data-new-window] {
            .setting-choice > g-icon {
                margin-right: -3px;
                font-size: 1.08rem;
            }
        }

        .slider {
            grid-area: slider;
            margin-top: 5px;
            margin-bottom: -5px;
            padding-inline: var(--setting-padding-inline);
        }

        /* Blink effect */
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            color: transparent;
            background-color: currentColor;
            opacity: .2;
            z-index: -1;
        }

        &.blink::after {
            animation: setting-blink 1200ms linear;
        }

        &.disabled {
            color: var(--grey);

            .setting-title .reset-btn,
            .setting-info,
            .setting-choice :is(.list-items, .slider-value, g-icon),
            .switch,
            .slider {
                color: var(--grey-pale);
                transition: none;
            }

            & + .reminder-badge {
                opacity: .8;

                .value {
                    color: var(--grey);
                    opacity: 1;
                }
            }
        }
    }

    .reminder-badge {
        margin: 5px 0 12px;
        margin-left: calc(var(--setting-padding-inline) - 1px);
        padding-block: 1.5px;
        --badge-background-opacity: .3;
        color: var(--grey);
        font-size: .7rem;
        font-weight: 500;

        .value {
            color: var(--cyan);
            opacity: .8;
        }
    }

    .app-credits {
        margin: 24px 0 22px;
        color: var(--grey-pale);
        font-size: .7rem;
        text-align: center;
    }

    & ~ .scrollbar {
        right: 0 !important;
        margin-right: 3px;

        .scrollbar-thumb {
            background: light-dark(var(--grey-pale), #0C0C0C);
        }
    }
}

/**  THEME  **/

:root[data-color-scheme=dark] {
    .setting[data-ripple] {
        --ripple-opacity: 0.015 !important;
    }
}

:root[data-color-scheme=light] {
    .setting[data-ripple] {
        --ripple-opacity: 0.03 !important;
    }
}

/**  ANIMATIONS  **/

@keyframes setting-blink {
    from, 20% {
        background-color: var(--yellow);
    }
    to {
        background-color: currentColor;
    }
}
