#sonometer {

    .calibration-badge {
        padding-left: 7.5px;
    }

    #sonometer-gauge {
        display: grid;
        align-items: center;
    }

    #sonometer-info {
        display: flex;

        & > div {
            width: 100%;
        }

        .db-current {
            margin-top: -6px;

            g-icon {
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }

    #sonometer-controls {
        display: flex;

        & > div {
            width: 33.33%;
        }

        .play-btn {

            .timestamp {
                position: absolute;
                margin-top: 36cqh;
                padding: 0 7px;
                color: var(--cyan);
                background-color: var(--bg);
                border-radius: 100vw;
                font-size: clamp(14px, calc(14cqh * var(--app-font-size-multiplier)), 17px);
                font-weight: 500;
                text-align: center;
                opacity: 0;
                transition: opacity 50ms linear;
            }

            &:not(.no-timestamp) g-icon {
                transition: margin-top 150ms ease-out,
                            margin-left 0ms linear 150ms,
                            transform 50ms linear 150ms,
                            opacity 0ms linear 150ms;
            }
        }
    }

    &.run {
        .play-btn:not(.no-timestamp) {
            g-icon {
                margin-top: -29px;
                transform: scale(.8) !important;
                transition: transform 50ms linear,
                            margin-top 250ms ease-out 150ms,
                            opacity 0ms linear 150ms
                            !important;

                &.play {
                    margin-left: -1px;
                }
            }

            .timestamp {
                opacity: 1 !important;
                transition: opacity 150ms ease-out 250ms !important;
            }
        }
    }

    &.pause {
        #sonometer-controls {
            .timestamp, .play-btn.no-timestamp g-icon {
                color: light-dark(var(--bg-contrast), var(--grey-pale));
                animation: timestamp-blink 500ms linear 250ms;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }

    &.pause, &:not(.run) {

        #sonometer-gauge {
            .gauge {
                .graduation.active::before {
                    color: var(--grey);
                    text-shadow: none;
                }
                .graduation:not(.active)::before {
                    color: var(--grey-pale);
                    transition: none;
                }
                .gauge-pointer::after {
                    border-right-color: var(--grey);
                }
            }
        }

        #sonometer-info {
            .db-current g-icon {
                color: var(--grey);
            }
        }
    }
}

/**  ANIMATIONS  **/

@keyframes timestamp-blink {
    50%, to {
        color: var(--cyan);
    }
}
