#toolbox {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    & > section {
        &:not(:first-child) h2 {
            margin-top: 32px;
        }
    }

    #toolbox-tempo-converter, #toolbox-delay-converter {

        h2 {
            position: relative;

            .temperature-badge {
                position: absolute;
                right: 0;
                margin-top: -1px;
            }
        }

        .inputs {
            display: flex;
            align-items: center;
            padding: 0 calc(var(--view-padding-sides) - 1px);

            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 12px;
                padding: 0 8px;
                color: var(--grey-pale);

                g-icon {
                    font-size: 2rem;
                }

                &.swap {
                    color: var(--grey);

                    &[data-tappable] {
                        --circle-opacity: .08 !important;
                        --circle-animation-duration: 200ms !important;
                    }
                }
            }
        }
    }

    #toolbox-delay-converter {

        .arrow {

            g-icon {
                margin-top: -4px;
            }

            .speed_of_sound {
                position: absolute;
                margin-top: 44px;
                font-size: .8rem;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    #toolbox-notepad {
        display: flex;
        flex-direction: column;
        flex: 1;

        textarea#notepad {
            --textarea-padding-sides: 16px;
            --textarea-border-width: 2px;
            --fullscreen-textarea-padding-sides: calc(var(--app-padding-sides) + var(--view-padding-sides) + var(--textarea-border-width) + var(--textarea-padding-sides));

            margin: 0 var(--view-padding-sides);
            padding: 12px var(--textarea-padding-sides);
            width: calc(100% - var(--view-padding-sides) * 2);
            height: 100%;
            border-width: var(--textarea-border-width);
            color: var(--grey);
            font-size: .9rem;
            line-height: 1.5em;
            transition: color 150ms linear,
                        border-color 300ms linear;

            &.highlight {
                color: var(--invert);
                transition: color 50ms linear;
            }

            &.edit-done {
                border-color: var(--invert);
                transition: none;
            }
        }
    }
}
