#toolbox {

    & > section {
        &:not(:first-child) h2 {
            margin-top: 32px;
        }
    }

    #tempo-converter, #delay-converter {

        h2 {
            position: relative;

            .temperature-badge {
                position: absolute;
                right: 0;
                margin-top: -2px;
            }
        }

        .inputs {
            display: flex;
            align-items: center;
            padding: 0 calc(var(--view-padding-sides) - 1px);

            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 12px;
                padding: 0 8px;
                color: var(--grey-pale);

                g-icon {
                    font-size: 2rem;
                }

                &.swap {
                    color: var(--grey);

                    &[data-tappable] {
                        --circle-opacity: .08 !important;
                        --circle-animation-duration: 200ms !important;
                    }
                }
            }
        }
    }

    #delay-converter {

        .arrow {

            g-icon {
                margin-top: -4px;
            }

            .speed_of_sound {
                position: absolute;
                margin-top: 44px;
                font-size: .8rem;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}
