#toolbox {

    & > section {
        &:not(:first-child) h2 {
            margin-top: 32px;
        }
    }

    #tempo-converter, #delay-converter {

        h2 {
            position: relative;

            .temperature-badge {
                position: absolute;
                right: 0;
                margin-top: -2px;
            }
        }

        .inputs {
            display: flex;
            align-items: center;
            padding: 0 calc(var(--view-padding-sides) - 1px);

            .input {
                display: flex;
                align-items: center;
                position: relative;
                padding: 10px 15px 10px 10px;
                width: 100%;
                border-width: 2px;
                font-size: 1rem;

                input {
                    width: 100%;
                    font-size: 1.4em;
                    text-align: center;
                }

                .unit {
                    display: inline-block;
                    margin-left: 5px;
                    color: var(--grey);
                    font-size: 1em;
                    letter-spacing: -0.1px;
                }

                &:has(input:focus) {
                    border-color: var(--invert);

                    &.above-maxlength, &.out-of-range {
                        border-color: var(--red) !important;
                    }

                    &.out-of-range::after {
                        display: block;
                    }
                }

                /* Validation Range Tip */
                &::after {
                    content: attr(data-validation-range); /* Added in JS. */
                    display: none;
                    position: absolute;
                    bottom: -12px;
                    right: 20px;
                    color: var(--red);
                    font-size: .75rem;
                    font-weight: 500;
                    line-height: 0;
                }
            }

            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 12px;
                padding: 0 8px;
                color: var(--grey-pale);

                g-icon {
                    font-size: 2rem;
                }

                &.swap {
                    color: var(--grey);

                    &[data-tappable] {
                        --circle-opacity: .08 !important;
                        --circle-animation-duration: 200ms !important;
                    }
                }
            }
        }
    }

    #delay-converter {

        .arrow {

            g-icon {
                margin-top: -4px;
            }

            .speed_of_sound {
                position: absolute;
                margin-top: 44px;
                font-size: .8rem;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}
