#toolbox {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;

    & > section {
        &:not(:first-child) h2 {
            margin-top: 32px;
        }
    }

    h2 {
        position: relative;

        .badge {
            position: absolute;
            right: 0;
            margin-top: -1px;
        }
    }

    #toolbox-tempo-converter, #toolbox-delay-converter {

        .inputs {
            display: flex;
            align-items: center;
            padding: 0 calc(var(--view-padding-inline) - 1px);

            .arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 12px;
                padding: 0 8px;
                color: var(--grey-pale);

                g-icon {
                    font-size: 2rem;
                }

                &.swap {
                    color: var(--grey);

                    &[data-tappable] {
                        --circle-opacity: .08 !important;
                        --circle-animation-duration: 200ms !important;
                    }
                }
            }
        }
    }

    #toolbox-delay-converter {

        .arrow {

            g-icon {
                margin-top: -4px;
            }

            .speed_of_sound {
                position: absolute;
                margin-top: 44px;
                font-size: .8rem;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    #toolbox-notepad {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        h2 .saved-badge {
            color: light-dark(var(--bg), var(--invert));
            --badge-background-color: var(--cyan);
            --badge-background-opacity: .5;
            text-transform: capitalize;
        }

        textarea#notepad {
            --textarea-padding-inline: 16px;
            --textarea-border-width: 1.5px;
            --fullscreen-textarea-padding-inline: calc(var(--app-padding-inline) + var(--view-padding-inline) + var(--textarea-border-width) + var(--textarea-padding-inline));

            margin: 0 var(--view-padding-inline);
            padding: 12px var(--textarea-padding-inline);
            width: calc(100% - var(--view-padding-inline) * 2);
            flex-grow: 1;
            border-width: var(--textarea-border-width);
            color: var(--grey);
            font-size: .88rem;
            line-height: 1.5em;
            letter-spacing: -0.2px;
            transition: color 150ms linear,
                        border-color 300ms linear;

            &.highlight {
                color: var(--invert);
                transition: color 50ms linear;
            }

            &.edit-done {
                border-color: var(--invert);
                transition: none;
            }
        }
    }
}

/**  THEME  **/

:root[data-high-contrast] {

    #toolbox {

        #toolbox-delay-converter .arrow .speed_of_sound {
            color: var(--grey);
        }

        #toolbox-notepad {
            .saved-badge {
                color: light-dark(var(--invert), var(--bg));
                --badge-background-opacity: .75;
            }
        }
    }
}
