@keyframes tap-tempo-btn-blink {
    from, 30% {
        color: var(--yellow);
    }
    70%, to {
        color: var(--grey);
    }
}

#tempo {

    #tempo-metronome {
        display: grid;
        align-items: center;
        padding: 0 22px;
    }

    #tempo-bpm-selector {
        display: flex;
        justify-content: center;
        gap: 12px;
        padding: 0 8px;

        .bpm-half, .bpm-dec, .bpm-inc, .bpm-double {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            flex-grow: 1;

            .bpm-modifier-btn {
                display: grid;
                place-items: center;
                padding-right: 1px;
                width: 100%;
                aspect-ratio: 1;
                background-color: var(--bg-contrast);
                border-radius: 3px;
                font-family: 'Roboto';
                font-size: .95rem;
                font-weight: 500;

                &.ontap:before {
                    --circle-opacity: .1 !important;
                    --circle-animation-duration: 200ms !important;
                }
            }
        }

        .bpm-wheel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;

            .bpm-wheel-center {
                position: relative;
                text-align: center;

                .bpm-value {
                    font-size: 4rem;
                    font-weight: 300;
                    transition: transform 100ms linear;

                    &.blink {
                        color: var(--cyan);
                        // transition: color 50ms linear;
                    }

                    &.tap-tempo-listen {
                        color: var(--yellow);
                        transform: translateY(-16px);

                        & + g-icon {
                            opacity: 1;
                            transition-delay: 50ms;
                        }
                    }

                    &.limit {
                        color: var(--red);
                    }
                }

                g-icon {
                    display: block;
                    position: absolute;
                    margin-top: -24px;
                    width: 100%;
                    text-align: center;
                    color: var(--grey);
                    font-size: 1.4rem;
                    opacity: 0;
                    transition: opacity 100ms linear;
                }
            }
        }
    }

    #tempo-infos {
        display: flex;

        & > div {
            width: 50%;
        }
    }

    #tempo-controls {
        display: flex;

        & > div {
            width: 33.33%;
        }

        .tap-tempo-btn {

            &.active {
                color: var(--yellow);
            }

            &.blink {
                animation: tap-tempo-btn-blink 250ms linear 450ms infinite;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
}
