h2 {
    margin: 24px var(--view-padding-sides) 20px;
    color: var(--cyan);
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
}

p + p {
    margin-top: 14px;
}

b, strong {
    font-weight: 600;

    &[data-w='500'] {
        font-weight: 500;
    }
    &[data-w='700'] {
        font-weight: 700;
    }
    &[data-w='800'] {
        font-weight: 800;
    }
}

input, textarea {
    padding: 8px 10px;
    color: var(--invert);
    background-color: var(--bg-contrast);
    border: 1px solid var(--grey-pale);
    border-radius: 100vw;
    font-family: inherit;

    &:focus {
        outline: 2px solid var(--cyan);
    }

    &::placeholder {
        color: var(--grey-pale);
        opacity: 1;
    }

    &::selection {
        color: var(--bg-contrast);
        background-color: var(--cyan);
    }
}

input {
    border-radius: 100vw;
}

textarea {
    border-radius: 8px;
    resize: none;
}

.cyan {
    color: var(--cyan);
}

.red {
    color: var(--red);
}

.hide {
    display: none !important;
}
