header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: var(--header-padding-inline);
    height: var(--header-height);
    color: light-dark(var(--bg), var(--invert));
    background-color: var(--cyan);
    z-index: 20;

    .header-btn {
        display: grid;
        place-items: center;
        height: 100%;
        aspect-ratio: 1;
        font-size: 1.7rem;
        transition: none;

        &.active {
            background-color: #FFF2;
            transition: background-color 200ms linear;
        }
    }
}

/* Main Header */
body > header {

    h1 {
        margin-top: -2px;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: var(--header-height);
        letter-spacing: -0.4px;
    }

    #settings-btn {
        &.active {
            transition-delay: 100ms;
        }
        &[data-ripple] {
            --ripple-background: white;
        }
    }
}

main {
    position: relative;
    width: 100vw;
    height: var(--view-height);
    overflow: hidden;
}

footer {
    position: relative;
    padding: 13px var(--app-padding-inline) 12px;
    width: 100%;
    height: var(--footer-height);
    z-index: 20;
}

/**  THEME  **/

:root[data-high-contrast] {

    header {
        color: light-dark(var(--invert), var(--bg));
    }

    body > header {
        #settings-btn.active {
            background-color: #FFF4;
        }
    }
}
