header {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: var(--header-padding-sides);
    height: var(--header-height);
    color: light-dark(var(--bg), var(--invert));
    background-color: var(--cyan);
    z-index: 1000;

    h1 {
        flex-grow: 1;
        margin-top: -2px;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: var(--header-height);
        letter-spacing: -0.4px;
    }

    #settings-btn {
        display: grid;
        place-items: center;
        height: 100%;
        aspect-ratio: 1;

        g-icon {
            font-size: 1.6rem;
            line-height: var(--header-height);
        }

        &.active {
            background-color: #FFF2;
            transition: background-color 200ms linear 100ms;
        }

        /* Tappable */
        &::before {
            background-color: white !important;
        }
    }
}

main {
    position: relative;
    width: 100vw;
    height: var(--view-height);
    overflow: hidden;
}

footer {
    position: relative;
    padding: 13px var(--app-padding-sides) 12px;
    width: 100%;
    height: var(--footer-height);
    z-index: 1000;

    nav {
        display: flex;
        justify-content: space-around;
        position: relative;
        height: 100%;
        padding: 0 15px 1px;
        background-color: var(--bg-contrast);
        border-radius: 100vw;

        p.no-tab {
            display: none;
            align-items: center;
            position: absolute;
            inset: 0;
            color: var(--grey-pale);
            font-size: 0.7rem;
            text-align: center;

            &.show {
                display: grid;
            }
        }
    }
}

/**  THEME  **/

:root[data-high-contrast] {

    header {
        color: light-dark(var(--invert), var(--bg));

        #settings-btn.active {
            background-color: #FFF4;
        }
    }
}
