/* Force a portrait display. */
@media (min-aspect-ratio: 9/16) {

    :root {
        --maximum-view-width: calc(100dvh * 9/16);
    }

    main {
        .view {
            justify-self: center;
            inset: 0;
            width: var(--maximum-view-width);
        }
    }

    footer {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;

        nav {
            border-radius: 0;
        }
    }

    #toast {
        max-width: calc(var(--maximum-view-width) - (var(--padding-sides) * 2));
    }

    #overlay .modal {
        max-width: var(--maximum-view-width);
    }
}
