/* Force a portrait display. */
@media (aspect-ratio >= 9/16) {

    :root {
        --maximum-view-width: calc(var(--app-height) * 9/16);
    }

    main {
        .view {
            justify-self: center;
            inset: 0;
            width: var(--maximum-view-width);
        }
    }

    footer {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;

        nav {
            border-radius: 0;
        }
    }

    #toast {
        max-width: calc(var(--maximum-view-width) - (var(--app-padding-sides) * 2));
    }

    #overlay .modal {
        max-width: var(--maximum-view-width);
    }
}

/* Small screens. */
@media (width < 360px) {

    #toolbox :is(#tempo-converter, #delay-converter) {

        .inputs {

            .input-box {
                font-size: .85rem;
            }

            .arrow {
                margin-left: 5px;
                margin-right: 5px;

                .speed_of_sound {
                    margin-top: 42px;
                    font-size: .75rem;
                }
            }
        }
    }
}
