nav {
    --nav-padding: 7px;
    --nav-tabs-margin-inline: 6px;

    display: flex;
    position: relative;
    width: 100%;
    height: var(--nav-height);
    padding: var(--nav-padding);
    background-color: var(--bg-contrast);
    border: 1px solid light-dark(#0001, #FFF1);
    border-radius: 100vw;
    overflow: hidden;

    .nav-tabs {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-inline: var(--nav-tabs-margin-inline);
        width: 100%;
    }

    .active-tab-indicator {
        position: absolute;
        inset: var(--nav-padding);
        padding-inline: var(--nav-tabs-margin-inline);
        translate: 0; /* Overridden in JS. */
        width: 0; /* Overridden in JS. */
        background-color: var(--cyan);
        border-radius: 100vw;
        box-sizing: content-box;
        opacity: 0;
        z-index: 0;
        transition: translate 150ms var(--ease-out),
                    opacity 100ms linear;

        &.move {
            animation: active-tab-indicator-compress 150ms var(--ease-out);
        }

        &.show {
            opacity: .12;
        }
    }

    p.no-tab {
        display: none;
        align-items: center;
        position: absolute;
        inset: 0;
        color: var(--grey-pale);
        font-size: 0.7rem;
        text-align: center;

        &.show {
            display: grid;
        }
    }
}

/**  ANIMATIONS  **/

@keyframes active-tab-indicator-compress {
    50% {
        scale: .8 1;
    }
    to {
        scale: 1 1;
    }
}
