:root {
    --header-height: 56px;
    --footer-height: 94px;
    --app-padding-sides: 10px;
    --view-padding-sides: 8px;

    --app-height: 100svh;
    --view-height: calc(var(--app-height) - var(--header-height) - var(--footer-height));
    --header-padding-sides: calc(var(--app-padding-sides) + var(--view-padding-sides) - 2px);

    --btn-padding-top-bottom: 12px;
    --btn-padding-left-right: 18px;

    --ease-out: cubic-bezier(0, 0, 0, 1);

    &[data-color-scheme=dark] {

        color-scheme: dark;

        --cyan: #009898;
        --yellow: #D09C00;
        --red: #E05050;

        --invert: #CAD0D0;
        --grey: #707A7A;
        --grey-pale: #404A4A;
        --bg: #1E2021;
        --bg-contrast: #171717;
    }

    &[data-color-scheme=light] {

        color-scheme: light;

        --cyan: #00B0B0;
        --yellow: #F0C000;
        --red: #FA6560;

        --invert: #384848;
        --grey: #909598;
        --grey-pale: #C0CACA;
        --bg: #F5F8F8;
        --bg-contrast: #FFFFFF;
    }

    font-size: 16px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    touch-action: manipulation; /* Disable double-tap. */

    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    width: 100dvw;
    height: var(--app-height); /* `dvh` worked historically, but a bug appeared without code changes. */
    color: var(--invert);
    background-color: var(--bg);
    font-family: 'Noto Sans', Arial, sans-serif;
    line-height: 1.4;
    letter-spacing: .2px;

    &.blink {
        animation: reset-blink 600ms linear;
    }
}

/**  ANIMATIONS  **/

@keyframes reset-blink {
    from, 50% {
        background-color: rgb(from var(--red) r g b / .35);
    }
    to {
        background-color: var(--bg);
    }
}
