.badge {
    display: inline-block;
    padding: 1.5px 9px 1px;
    color: var(--invert);
    background-color: rgb(from var(--grey-pale) r g b / .6);
    border-radius: 100vw;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    visibility: hidden;

    &.top-right {
        position: absolute;
        top: 20px;
        right: var(--header-padding-sides);
    }

    &.show {
        visibility: visible;
    }
}
