.btn {
    padding: var(--btn-padding-block) var(--btn-padding-inline);
    color: var(--cyan);
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;

    &.btn-fill {
        color: #EEE;
        background-color: color-mix(in srgb, var(--cyan), black 10%);
        border-radius: 6px;
        overflow: hidden;

        &[data-ripple] {
            --ripple-background: black !important;
            --ripple-opacity: .2 !important;
            --ripple-animation-duration: 400ms !important;
        }
    }

    g-icon {
        translate: 0 4px;
        font-size: 1.2rem;
        line-height: .8rem;

        &.left {
            margin-left: -5px;
            margin-right: 4px;
        }

        &.right {
            margin-left: 4px;
            margin-right: -5px;
        }
    }
}

/**  THEME  **/

:root[data-high-contrast] {
    .btn {
        font-weight: 600;
    }
}
