#fullscreen-textarea {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-contrast);
    opacity: 0;
    z-index: 5000;

    header {

        .header-left, .header-right {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .textarea-counter {
            font-size: .95rem;
            font-weight: 500;
            letter-spacing: -0.5px;

            &.limit {
                color: var(--red);
                font-weight: 600;
            }
        }

        .saved-badge {
            margin-right: 15px;
            color: light-dark(var(--bg), var(--invert));
            --badge-background-opacity: .4;
        }

        .close-btn g-icon {
            rotate: 70deg;
            font-size: 2rem;
            transition: none;
        }
    }

    textarea {
        margin: 0;
        padding: 35px 30px 30px;
        width: 100%;
        flex-grow: 1;
        border: none;
        border-radius: 0;
        outline: none;
    }

    &.active {
        top: 0;
        opacity: 1;

        .close-btn g-icon {
            rotate: 0deg;
            transition: rotate 300ms var(--ease-out);
        }
    }
}

body:has(#fullscreen-textarea.active) {

    & > :is(header, footer) {
        display: none !important;
    }

    main {
        position: absolute !important;
        height: 0 !important;
    }
}

/**  THEME  **/

:root[data-high-contrast] {

    #fullscreen-textarea {
        .saved-badge {
            color: light-dark(var(--invert), var(--bg));
            --badge-background-color: light-dark(var(--bg), var(--invert));
            --badge-background-opacity: .9;
        }
    }
}
