#fullscreen-textarea {
    position: fixed;
    top: -100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-contrast);
    opacity: 0;
    z-index: 5000;

    textarea {
        margin: 0;
        padding: 35px 30px 30px;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 6px;
        padding: 5px 5px;
        color: var(--grey);
        font-size: 1.7rem;
    }

    &.active {
        top: 0;
        opacity: 1;
    }
}

body:has(#fullscreen-textarea.active) {

    header, footer {
        display: none !important;
    }

    main {
        position: absolute !important;
        height: 0 !important;
    }
}
