.input-box {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 15px 10px 10px;
    width: 100%;
    color: var(--invert);
    background-color: var(--bg-contrast);
    border: 1.5px solid var(--grey-pale);
    border-radius: 100vw;
    font-size: 1rem;

    input {
        padding: 0;
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius: 0;
        font-size: 1.4em;
        text-align: center;
        outline: none !important;
    }

    .unit {
        display: inline-block;
        margin-left: 5px;
        color: var(--grey);
        font-size: 1em;
        letter-spacing: -0.1px;
    }

    &:has(input:focus) {
        border-color: var(--invert);

        &.above-maxlength, &.out-of-range {
            border-color: var(--red) !important;
        }

        &.out-of-range::after {
            display: block;
        }
    }

    /* Validation Range Tip */
    &::after {
        content: attr(data-validation-range); /* Added in JS. */
        display: none;
        position: absolute;
        bottom: -12px;
        right: 20px;
        color: var(--red);
        font-size: .75rem;
        font-weight: 500;
        line-height: 0;
    }
}
