.nav-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    color: var(--grey);
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: -0.1px;
    overflow: hidden;

    & > g-icon {
        margin-bottom: 3px;
        font-size: 1.4rem;
    }

    .tab-label {
        display: none;
        position: absolute;
        margin-top: 27px;
        padding: .2px 6.5px 0 6.5px;
        color: var(--bg-contrast);
        background-color: var(--cyan);
        border-radius: 100vw;
        font-size: .7rem;
        font-weight: 600;
        letter-spacing: -0.3px;
    }

    &.active {
        color: var(--cyan);
        font-weight: 600;
        letter-spacing: -0.3px;
    }

    &.run {
        .tab-title {
            visibility: hidden;
        }

        .tab-label {
            display: block;
        }

        &:not(.active) .tab-label {
            background-color: var(--grey);
        }
    }

    &.hide {
        display: none;
    }
}
