.play-btn {
    container-type: size;
    display: grid;
    place-items: center;
    position: relative;
    aspect-ratio: 1;
    background-color: var(--bg-contrast);
    border-radius: 50%;
    overflow: hidden;

    g-icon {
        position: absolute;
        margin-top: 1px;
        color: var(--cyan);
        font-size: 64cqh;
        opacity: 0;
        transition: opacity 100ms linear;
    }

    &.adaptative {
        --play-btn-adaptative-margins: 8px;
        margin: var(--play-btn-adaptative-margins);
        top: calc(50% - var(--play-btn-adaptative-margins));
        left: calc(50% - var(--play-btn-adaptative-margins));
        transform: translateX(-50%) translateY(-50%);
        max-width: 100%;
        max-height: 100%;
    }

    &.pulse {
        --animation-duration: 4000ms;
        overflow: visible;

        g-icon.play {
            transform-origin: center bottom;
            animation: bounce var(--animation-duration) ease-out infinite var(--animation-duration);
        }

        /* Pulsation */
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border-style: solid;
            border-color: transparent;
            box-sizing: content-box;
            opacity: .5;
            animation: pulse var(--animation-duration) var(--ease-out) infinite var(--animation-duration);
        }
    }

    &[data-tappable] {
        --circle-opacity: .15 !important;
        --circle-animation-duration: 300ms !important;
        --circle-background: var(--cyan) !important;
    }
}

/**  ANIMATIONS  **/

@keyframes bounce {
    from     { transform: translateY(0)    scale(1); }
      2%     { transform: translateY(0)    scale(1.2, .6); }
      5%     { transform: translateY(-5px) scale(.9, 1.1); }
      8%     { transform: translateY(0)    scale(1.1, .8); }
     10%     { transform: translateY(-2px) scale(.95, 1.05); }
     12%, to { transform: translateY(0)    scale(1); }
}

@keyframes pulse {
    from {
        border-width: 0;
        border-color: var(--cyan);
    }
    15%, to {
        border-width: 22px;
        border-color: transparent;
    }
}
