[data-ripple] {
    --ripple-width: 100%; /* Overridden in JS. */
    --ripple-background: light-dark(black, white);
    --ripple-opacity: .05;
    --ripple-animation-duration: 250ms;

    --ripple-opacity-multiplier-for-persist: .5;

    position: relative;
    z-index: 1;

    /* Ripple effect */
    .ripple {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--ripple-width);
        aspect-ratio: 1;
        translate: -50% -50%;
        scale: 0;
        background-color: var(--ripple-background);
        border-radius: 50%;
        opacity: var(--ripple-opacity);
        z-index: -1;
        animation: ripple-grow var(--ripple-animation-duration) ease-out;
        animation-fill-mode: forwards;

        &.persist {
            filter: opacity(var(--ripple-opacity-multiplier-for-persist)) !important;

            &.remove {
                opacity: 0 !important;
                transition: opacity 100ms linear;
            }
        }
    }
}

[data-trigger] {

    &:not([data-trigger~=manually]) {
        cursor: pointer;
    }

    &.depress {
        scale: .92;
    }

    &.disabled {
        pointer-events: none;
    }
}

/**  THEME  **/

:root[data-high-contrast] {
    [data-ripple] .ripple {
        --ripple-opacity-adder: 0.05;
        opacity: calc(var(--ripple-opacity) + var(--ripple-opacity-adder));
    }
}

/**  ANIMATIONS  **/

@keyframes ripple-grow {
    0% {
        scale: 0;
        filter: opacity(1);
    }
    30% {
        filter: opacity(1);
    }
    100% {
        scale: 1;
        filter: opacity(0);
    }
}
