.scrollbar {
    display: none;
    position: absolute;
    top: 0;       /* Overridden in JS. */
    right: 0;     /* Overridden in JS. */
    margin-right: 5px;
    width: 4px;
    height: 100%; /* Overridden in JS. */
    overflow: hidden;

    .scrollbar-thumb {
        width: 100%;
        height: 50px; /* Overridden in JS. */
        min-height: 12px;
        max-height: 100%;
        background-color: rgb(from var(--grey-pale) r g b / .5);
        border-radius: 100vw;
    }

    &.show {
        display: block;
    }
}

/* Hide the scrollbar. */

* {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/**  THEME  **/

:root[data-high-contrast] {
    .scrollbar .scrollbar-thumb {
        background-color: var(--grey) !important;
    }
}
