.scrollbar {
    --scrollbar-thumb-color: var(--grey-pale);
    display: none;
    position: absolute;
    top: 0;    /* Overridden in JS. */
    right: 0;  /* Overridden in JS. */
    margin-right: 5px;
    width: 4px;
    height: 0; /* Overridden in JS. */
    overflow: hidden;
    z-index: 1;

    .scrollbar-thumb {
        width: 100%;
        height: 0; /* Overridden in JS. */
        min-height: 12px;
        max-height: 100%;
        background-color: var(--scrollbar-thumb-color);
        border-radius: 100vmax;
        opacity: .4;
        transition: opacity 50ms linear;
    }

    &.show {
        display: block;
    }
}

[data-scrollable] {
    &.highlight ~ .scrollbar .scrollbar-thumb {
        opacity: .8 !important;
    }
}

/* Hide the scrollbar. */

* {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/**  THEME  **/

:root[data-high-contrast] {
    .scrollbar {
        --scrollbar-thumb-color: var(--grey) !important;
    }
}
