.slider {
    --slider-line-height: 3px;
    --slider-thumb-size: 16px;
    --slider-thumb-left: 0; /* Overridden in JS. */
    --slider-thumb-shadow: 8px;
    --point-zero-left: -100dvw; /* Overridden in JS. */

    display: flex;
    align-items: center;
    width: 100%;
    height: var(--slider-thumb-size);
    padding: calc((var(--slider-thumb-size) / 2) + var(--slider-thumb-shadow)) 0;
    color: var(--cyan);
    touch-action: pan-y;

    .slider-line {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 calc(var(--slider-thumb-size) / 2);
        width: 100%;
        height: var(--slider-line-height);
        background-color: var(--grey-pale);
        border-radius: calc(var(--slider-line-height) / 2);
        transition: height 80ms linear;

        .slider-fill {
            width: var(--slider-thumb-left);
            height: 100%;
            background-color: currentColor;
            border-radius: inherit;
        }

        .slider-thumb {
            position: absolute;
            left: var(--slider-thumb-left);
            width: var(--slider-thumb-size);
            aspect-ratio: 1;
            transform: translateX(-50%);
            background-color: currentColor;
            border-radius: 50%;
            transition: box-shadow 100ms linear;
        }

        /* Point 0 */
        &:before {
            content: "";
            display: none;
            position: absolute;
            left: var(--point-zero-left);
            margin-left: -1.5px;
            width: 3px;
            aspect-ratio: 1;
            background-color: var(--invert);
            border-radius: 1.5px;
            mix-blend-mode: overlay;
            z-index: 1;
        }
    }

    &.movable {
        --slider-line-height: 7px;
        .slider-thumb {
            box-shadow: 0 0 0 var(--slider-thumb-shadow) light-dark(#0001, #FFF1);
        }
        .slider-line:before {
            display: block;
        }
    }
}
