#snackbar {
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100dvh;
    padding: 7px 24px 8px;
    width: 100%; /* Fallback if max-content is not available. */
    width: max-content;
    max-width: 85%;
    min-height: 3.2em;
    color: var(--invert);
    background-color: rgb(from var(--grey-pale) r g b / .85);
    border-radius: 100vw;
    font-size: .82rem;
    text-align: center;
    opacity: 0;
    z-index: 1000;
    transition: opacity 1500ms linear, bottom 0ms linear 1500ms;

    &.show {
        bottom: var(--footer-height);
        opacity: 1;
        transition: opacity 150ms linear;
    }
}
