.switch {
    --switch-height: 1em;
    --switch-ratio: 2.1/1;
    --switch-width: calc(var(--switch-height) * var(--switch-ratio));

    display: flex;
    align-items: center;
    position: relative;
    width: var(--switch-width);
    height: var(--switch-height);
    color: var(--red);
    background-color: currentColor;
    border-radius: calc(var(--switch-height) / 2);
    transition: background-color 0ms linear 20ms;

    &::after {
        content: "";
        display: block;
        height: 125%;
        aspect-ratio: 1;
        background-color: var(--bg);
        border: 2px solid currentColor;
        border-radius: 50%;
        transition: translate 200ms var(--ease-out), border-color 0ms linear 20ms;
    }

    &[data-value=true] {
        color: var(--cyan);

        &::after {
            translate: calc(var(--switch-width) - 100%) 0;
        }
    }
}
