#toast {
    --transition-duration-out: 1000ms;
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: var(--app-height);
    padding: 7px 24px 8px;
    width: 100%; /* Fallback if max-content is not available. */
    width: max-content;
    max-width: 85%;
    min-height: 3.2em;
    color: var(--invert);
    background-color: light-dark(#4441, #DFF1);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    border: 1px solid light-dark(#FFFC, #FFF1);
    border-radius: 100vw;
    box-shadow: 0 0 3px light-dark(transparent, #1118);
    font-size: .8rem;
    text-align: center;
    text-shadow: 0 0 3px light-dark(#FFF, #111);
    opacity: 0;
    z-index: 6000;
    pointer-events: none;
    transition: opacity var(--transition-duration-out) linear,
                bottom 0ms linear var(--transition-duration-out);

    &.show {
        bottom: calc(var(--footer-height) + 5px);
        opacity: 1;
        transition: opacity 150ms linear;
    }

    :is(&.instant, &.instant.show) {
        transition: none !important;
    }
}
